@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Green: rgb(196, 248, 42);
  --White: white;
  --Gray-900: rgb(20, 20, 20);
  --Gray-800: rgb(31, 31, 31);
  --Gray-700: rgb(51, 51, 51);
}

body {
  font-family: "Outfit";
  background-color: var(--Gray-900);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
}

.profile {
  background-color: var(--Gray-800);
  width: clamp(20.4375rem, 60vw, 24rem);
  padding: clamp(1.5rem, 6vw, 2.5rem);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

img {
  border-radius: 62.4375rem;
  max-width: 5.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-weight: 600;
}

.info h1 {
  font-weight: 700;
  font-size: 1.75rem;
  color: var(--White);
}

.info p {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--Green);
}

.bio {
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  color: var(--White);
}

.links {
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.links li {
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--Gray-700);
  transition: background-color 0.3s ease-in-out 0.1s;
}

.links a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--White);
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  width: 100%;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
  transition: color 0.3s ease-in-out 0.1s;
}

.links li:hover,
.links li:active {
  background-color: var(--Green);
  transition: background-color 0.2s ease-in-out;
}

.links li:hover a,
.links li:active a {
  color: var(--Gray-700);
  transition: color 0.2s ease-in-out;
}

.links a:focus-visible {
  background-color: var(--Green);
  color: var(--Gray-700);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  outline: none;
}
