@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Yellow: rgb(244, 208, 78);
  --White: white;
  --Gray-950: rgb(17, 17, 17);
  --Gray-500: rgb(107, 107, 107);
  --font-base-size: 16px;
}

html {
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Figtree", sans-serif;
  background-color: var(--Yellow);
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
}

.blog-card {
  width: 100%;
  max-width: 24rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 1.25rem;
  border: 1px solid var(--Gray-950);
  box-shadow: 8px 8px var(--Gray-950)
}

.banner {
  border-radius: 0.625rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.category {
  background-color: var(--Yellow);
  font-weight: 800;
  font-size: 0.875rem;
  color: var(--Gray-950);
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
}

.published {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--Gray-950);
}

.title {
  font-weight: 800;
  font-size: 1.5rem;
  color: var(--Gray-950);
  transition: color 0.3s ease;
}

.title:hover,
.title:active,
.title:focus {
  color: var(--Yellow);
}

.preview {
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--Gray-500);
}

.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.avatar img {
  max-width: 2rem;
  max-height: 2rem;
}

.author {
  font-weight: 800;
  font-size: 0.875rem;
  color: var(--Gray-950);
  margin: 0;
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

@media (max-width: 376px) {
  html {
    font-size: 14px;
  }

  .blog-card {
    max-width: 23rem;
    width: 100%;
  }

  .title {
    font-size: 1.4rem;
  }

  .preview {
    font-size: 1rem;
  }
}
