@font-face {
  font-family: "YoungSerif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ROSE */
  --rose-800: rgb(122, 40, 78);
  --rose-50: rgb(255, 247, 251);

  /* STONE */
  --stone-900: rgb(49, 46, 44);
  --stone-600: rgb(95, 86, 77);
  --stone-150: rgb(227, 221, 215);
  --stone-100: rgb(243, 229, 215);

  /* BROWN */
  --brown-800: rgb(137, 70, 50);

  /* WHITE */
  --white: rgb(255, 255, 255);
}

h1 {
  font-family: "YoungSerif", sans-serif;
  font-size: 2.5rem;
  color: var(--stone-900);
  line-height: 1;
  font-weight: normal;
}

@media (max-width: 376px) {
  h1 {
    font-size: 2.25rem;
  }
}

h2 {
  font-family: "YoungSerif", sans-serif;
  font-size: 1.75rem;
  color: var(--brown-800);
  font-weight: normal;
  line-height: 1;
}

#prep {
  font-family: "Outfit";
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--rose-800);
  line-height: 1;
}

p,
li,
th.col-1 {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 1rem;
  color: var(--stone-600);
  line-height: 1.5;
}

td.col-2,
ol li::marker {
  font-family: "Outfit";
  font-weight: 700;
  font-size: 1rem;
  color: var(--brown-800);
  line-height: 1.5;
}

body {
  font-size: 1rem;
  background-color: var(--stone-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  letter-spacing: 0;
  margin: 0;
}

#recipe {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(23rem, 80vw, 46rem);
  padding: clamp(0rem, 3vw, 2.5rem);
  gap: clamp(0rem, 2vw, 2.5rem);
  margin-top: clamp(0rem, 5vw, 8rem);
  margin-bottom: clamp(0rem, 5vw, 8rem);
  border-radius: clamp(0rem, 1.5vw, 1.5rem);
}

img {
  width: 100%;
  max-width: clamp(23.4375rem, 70vw, 41rem);
  height: auto;
  border-radius: clamp(0rem, 0.75vw, 0.75rem);
  object-fit: cover;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: clamp(1rem, 3vw, 2.5rem) clamp(1rem, 2.5vw, 2rem);
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#prep-time {
  background-color: var(--rose-50);
  padding: 1.5rem;
  gap: 1rem;
}

.lists {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  gap: 0.5rem;
}

ul li,
ol li {
  padding-left: 1rem;
}

ul li::marker {
  font-size: 0.75rem;
  color: var(--brown-800);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td,
table th {
  padding: 0.75rem 1.5rem;
}

table tr {
  text-align: left;
  border-bottom: 1px solid var(--stone-150);
}

table tr:first-child th,
table tr:first-child td {
  padding-top: 0rem;
}

table tr:last-child th,
table tr:last-child td {
  padding-top: 0rem;
}

table tr:last-child {
  border-bottom: none;
}

hr {
  color: var(--stone-150);
  background-color: var(--stone-150);
  height: 1px;
  border: none;
}
